/* 19 :: HERO */

.ui-hero {
	position: relative;
	&.hero-sm {
		padding: 4rem 0;
		@include breakpoint(lg) {
			padding: 5rem 0;
		}
		@include breakpoint(xl) {
			padding: 6rem 0;
		}
	}
	&.hero-lg {
		padding: 2rem 0;
		@include breakpoint(sm) {
			padding: 2rem 0;
		}
		@include breakpoint(md) {
			padding: 2rem 0;
		}
		@include breakpoint(xl) {
			padding: 8rem 0;
		}
		& .heading, & .paragraph {
			@media(max-width: 739px) {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			@include breakpoint(md) {
				max-width: 500px;
			}
		}
	}
	& .container {
		padding-top: 50px;
		position: relative;
		z-index: 2;
		@include breakpoint(sm) {
			padding-top: $navbar-height;
		}
	}
	& .heading, & .paragraph {
		max-width: 500px;
	}
	&.hero-center {
		text-align: center;
		& .heading, & .paragraph {
			margin-left: auto;
			margin-right: auto;
		}
	}
	& .heading {
		margin-bottom: 1.6rem;
		font-size: 2.6rem;
		@include breakpoint(sm) {
			margin-bottom: 1.75rem;
			font-size: 3rem;
		}
		@include breakpoint(md) {
			margin-bottom: 2rem;
			font-size: 3.6rem;
		}
		@include breakpoint(lg) {
			margin-bottom: 2.25rem;
		}
	}
	& .paragraph {
		margin-bottom: 0;
		font-size: 1.1rem;
	}
	& .actions {
		margin-top: 1.6rem;
		text-align: center;
		margin-bottom: 3rem;
		@include breakpoint(sm) {
			margin-top: 1.75rem;
		}
		@include breakpoint(md) {
			margin-top: 2rem;
			margin-bottom: 0;
			text-align: left;
		}
		@include breakpoint(lg) {
			margin-top: 2.25rem;
		}
	}
	& img {
		display: block;
		@media (max-width: 739px) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

/* 19.1 Hero Slider */

.ui-hero.ui-hero-slider {
	padding: 2rem 0 3rem 0;
	@include breakpoint(sm) {
		padding: 2rem 0 3rem 0;
	}
	@include breakpoint(md) {
		padding: 2rem 0 3rem 0;
	}
	@include breakpoint(xl) {
		padding: 8rem 0;
	}
	& .sp-slides {
		opacity: 1;
		@include transition(opacity .35s ease-out);
		&.fade {
			opacity: 0;
		}
	}
	& .sp-buttons {
		bottom: 1rem;
		@include breakpoint(md) {
			bottom: 1rem;
		}
		@include breakpoint(xl) {
			bottom: 4rem;
		}
	}
}

/* 19.2 :: Waves Hero */

.ui-hero.ui-waves {
	margin: 0 0 -2rem 0;
	padding: 2rem 0 4rem 0;
	@include breakpoint(md) {
		padding: 2rem 0 6rem 0;
	}
	@include breakpoint(xl) {
		padding: 8rem 0 12rem 0;
	}
	&::after {
		display: block;
		content: '';
		height: 100%;
		background: url(../img/svg-layers/waves.svg) bottom no-repeat;
		background-size: contain;
		position: absolute;
		bottom: -1px;
		left: -20%;
		right: -20%;
		z-index: 1;
		@include breakpoint(md) {
			left: -1px;
			right: -1px;
		}
	}
}

/* 19.3 Curved Hero*/

.ui-hero.ui-curve {
	padding: 2rem 0 4rem 0;
	@include breakpoint(md) {
		padding: 2rem 0 6rem 0;
	}
	@include breakpoint(xl) {
		padding: 8rem 0 12rem 0;
	}
	&::after {
		display: block;
		content: '';
		height: 100%;
		background: url(../img/svg-layers/curve-layer.svg) bottom no-repeat;
		background-size: contain;
		position: absolute;
		bottom: -3px;
		left: -1px;
		right: -1px;
		z-index: 1;
		@include breakpoint(lg) {
			left: -10%;
			right: -10%;
		}
		@include breakpoint(xl) {
			left: -20%;
			right: -20%;
		}
		@media (min-width: 1500px) {
			left: -30%;
			right: -30%;
		}
	}
}

/* 19.4 Tilt Hero */

.ui-hero.ui-tilt {
	margin: 0 0 -8rem 0;
	padding: 2rem 0 4rem 0;
	@include breakpoint(md) {
		padding: 2rem 0 6rem 0;
	}
	@include breakpoint(xl) {
		padding: 8rem 0 16rem 0;
	}
	&::after {
		display: block;
		content: '';
		position: absolute;
		left: -8rem;
		right: -8rem;
		height: 16rem;
		background-color: #FFF;
		@include rotate(-10);
		z-index: 1;
		@include breakpoint(md) {
			@include rotate(-8.5);
		}
		@include breakpoint(lg) {
			@include rotate(-5.5);
		}
	}
	&::after {
		bottom: -8rem;
	}
}

/* 19.5 Hero Gradient Animator */

.ui-hero.ui-gradient-animator {
	background: linear-gradient(45deg, $blue, $green, $lime, $lime2, $blue, $green, $lime, $lime2);
	// background: linear-gradient(45deg, $pink, $purple, $indigo, $purple, $red, $orange, $red, $indigo, $blue);
	background-size: 450% 100%;
	@include animation-name('animate_gradient');
	@include animation-duration(35s);
	@include animation-timing-function(linear);
	@include animation-iteration-count(infinite);
}
